
a
  color: $primary-color-1
  text-decoration: none
  &:hover
    color: $primary-color-3

ol, li
  font-weight: 400
  font-size: 16px
  line-height: 1.4

p
  font-weight: 400
  line-height: 1.5

h1, h2, h3, h4, h5
  font-weight: 400

h4
  font-size: 18px

h5
  font-size: 16px

body
  margin: 0
  background-color: $bg-color
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

img.round
  border-radius: 40px

blockquote
  border-left: 8px solid #eee
  padding-left: 14px
  margin-left: 0

  // // font-family: "Bitter", serif;
  // // font-family: "Slabo 27px", serif;
  // // font-family: "Bitter", serif;
  // // font-family: 'Tangerine';
  // // font-family: "Slabo 27px", serif;
  // // font-weight: 100;
  // // font-family: "Bitter", serif;
  // // font-size: 16px;
  // // font-weight: 400;
  //
  // // text-transform: uppercase;
  // // font-family: "Slabo 27px", serif;
  // font-size: 18px;
  // color: #101010;
