$bg-color = #eaefde
$nav-bg-color = #eaefde
$nav-bg-color = #18c2e1
$bg-color = #f5f5f5

$accent-color-0 = #ffffff
$accent-color-1 = #ff4081
$accent-color-2 = #ff80ab
$accent-color-3 = #f50057

$primary-color-0 = #ffffff
$primary-color-1 = #3f51b5
$primary-color-2 = #c5cae9
$primary-color-3 = #1a237e

$gray-lighter = lighten(#282a2b, 70%)
$white-dark = lighten(#282a2b, 50%)
$gray-light = lighten(#282a2b, 40%)
$white-darker = lighten(#282a2b, 20%)
$white-darkest = lighten(#282a2b, 10%)

$glt-70 = lighten(#282a2b, 70%)
$glt-50 = lighten(#282a2b, 50%)
$glt-40 = lighten(#282a2b, 40%)
$glt-20 = lighten(#282a2b, 20%)
$glt-10 = lighten(#282a2b, 10%)

$gray = #282a2b

$gdk-40 = darken(#282a2b, 40%)
