
.container
  margin: 0 auto
  max-width: 1180px
  // min-width:780px

.Container
  min-height 100vh

.Header
  // background-color: $bg-color
  background-color: $nav-bg-color
  max-height: 50px
  padding: 20px

.Content
  background-color: $bg-color
  min-height: 500px
  padding: 20px


// Nav
// ---
.Nav
  background-color: $nav-bg-color 
  list-style-type: none
  padding: 20px
  max-height: 20px

.Nav-item
  padding: 3px 8px
  a
    color: $primary-color-1
    text-decoration: none
  &.active
    a
      color: $primary-color-0

// SideNav
// -------
.SideNav
  padding: 10px
  min-width: 180px  
  max-width: 500px  
  
// Footer
// ------
.Footer
  background-color: $gray
  border-top: 10px solid $gdk-40
  color: $glt-50
  min-height: 200px

.Footer-topLinks
  padding: 20px
      
.Footer-siteDescription
  p
    line-height: 1.5
    color: $glt-20
  
.Footer-bottomLinks
  padding: 20px
  border-top: 1px solid $glt-10
  color: $glt-20
  background-color: $gdk-40


// Logos
// -----

#main-logo
  width: 280px
  fill: #F1F1F2
  fill: #fff

#footer-logo
  width: 200px
  fill: $glt-70


.PageContent
  background-color: #FFF
  padding: 20px

.contact-button
  // background: #def
  background: #ff4081
  float: right
  fill: #fff
  color: #fff

.connection
  text-align: center
  margin: 0
  padding: 15px
  background-color: #ffe57f
  p
    line-height: 0
