{{define "static-content"}}
<div class="Content">
  <h1 class="Title">Not Found</h1>
  <p>Sorry, we can't find anything at this url.
  <p>Try heading back to the <a href="/">home page</a>.
</div>
{{end}}
