<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Admin</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href='//fonts.googleapis.com/css?family=Roboto:900,100,300,700,400' rel='stylesheet' type='text/css'>

  <script>
    var ROOT = '//' + window.location.host + '/_ah/api';
    {{if .IsDev}}
      var SCRIPT = 'http://localhost:9090/assets/admin.js';
    {{else}}
      var SCRIPT = '/prod/admin.js';
    {{end}}
    // Wait until gapi is ready before loading the scripts
    function init() {
      gapi.client.load('titlefarm', 'v1', function() {
        var script = document.createElement('script');
        script.setAttribute('src', SCRIPT);
        script.setAttribute('type', 'text/javascript');
        document.getElementsByTagName('head')[0].appendChild(script);
      }, ROOT);
    }
  </script>
  {{if not .IsDev}}
    <link rel="stylesheet" href="/prod/admin.css">
  {{end}}

  <script src="https://apis.google.com/js/client.js?onload=init"></script>
<head>
<body>
  <div id="content"> </div>
</body>
</html>
