<import: src="../../../md/tutorials/express/authentication/1/01", ns="express:authentication:1:01">
<import: src="../../../md/tutorials/express/authentication/1/02", ns="express:authentication:1:02">
<import: src="../../../md/tutorials/express/authentication/1/03", ns="express:authentication:1:03">
<import: src="../../../md/tutorials/express/authentication/1/04", ns="express:authentication:1:04">
<import: src="../../../md/tutorials/express/authentication/1/05", ns="express:authentication:1:05">
<import: src="../../../md/tutorials/express/authentication/1/06", ns="express:authentication:1:06">
<import: src="../../../md/tutorials/express/authentication/1/07", ns="express:authentication:1:07">
<import: src="../../../md/tutorials/express/authentication/1/08", ns="express:authentication:1:08">

<import: src="../../../md/tutorials/express/authentication/2/01", ns="express:authentication:2:01">
<import: src="../../../md/tutorials/express/authentication/2/02", ns="express:authentication:2:02">
<import: src="../../../md/tutorials/express/authentication/2/03", ns="express:authentication:2:03">
<import: src="../../../md/tutorials/express/authentication/2/04", ns="express:authentication:2:04">
<import: src="../../../md/tutorials/express/authentication/2/05", ns="express:authentication:2:05">
<import: src="../../../md/tutorials/express/authentication/2/06", ns="express:authentication:2:06">

<import: src="../../../md/tutorials/express/authentication/3/01", ns="express:authentication:3:01">
<import: src="../../../md/tutorials/express/authentication/3/02", ns="express:authentication:3:02">
<import: src="../../../md/tutorials/express/authentication/3/03", ns="express:authentication:3:03">
<import: src="../../../md/tutorials/express/authentication/3/04", ns="express:authentication:3:04">

<import: src="../../../md/tutorials/express/authentication/5/01", ns="express:authentication:5:01">
<import: src="../../../md/tutorials/express/authentication/5/02", ns="express:authentication:5:02">

<import: src="../../../md/tutorials/express/authentication/6/01", ns="express:authentication:6:01">
<import: src="../../../md/tutorials/express/authentication/6/02", ns="express:authentication:6:02">

<import: src="../../../md/tutorials/express/authentication/7/01", ns="express:authentication:7:01">
<import: src="../../../md/tutorials/express/authentication/7/02", ns="express:authentication:7:02">
<import: src="../../../md/tutorials/express/authentication/7/03", ns="express:authentication:7:03">
<import: src="../../../md/tutorials/express/authentication/7/04", ns="express:authentication:7:04">
<import: src="../../../md/tutorials/express/authentication/7/05", ns="express:authentication:7:05">

<import: src="../../../md/tutorials/express/authentication/toc", ns="express:authentication:toc">

<Title:>
  Tutorials - Express Authentication

<index:>
  <section class="container">
    <div class="layout horizontal">
      <aside class="flex one">
        <view name="express:authentication:toc"/>
      </aside>

      <div class="flex three page-content">

        <d-paper-button class="suggest-edit-button" icon="translate" label="Suggest Edit" fab on-click="changeUrl('/admin/feeds')"></d-paper-button>
        <view name="{{#root._page.viewName}}"/>
      </div>
    </div>
  </section>
