<import: src="../../../md/tutorials/meteor/blog/1/01", ns="meteor:blog:1:01">
<import: src="../../../md/tutorials/meteor/blog/1/02", ns="meteor:blog:1:02">
<import: src="../../../md/tutorials/meteor/blog/1/03", ns="meteor:blog:1:03">
<import: src="../../../md/tutorials/meteor/blog/1/04", ns="meteor:blog:1:04">
<import: src="../../../md/tutorials/meteor/blog/1/05", ns="meteor:blog:1:05">

<import: src="../../../md/tutorials/meteor/blog/2/01", ns="meteor:blog:2:01">
<import: src="../../../md/tutorials/meteor/blog/2/02", ns="meteor:blog:2:02">
<import: src="../../../md/tutorials/meteor/blog/2/03", ns="meteor:blog:2:03">

<import: src="../../../md/tutorials/meteor/blog/3/01", ns="meteor:blog:3:01">

<import: src="../../../md/tutorials/meteor/blog/toc", ns="meteor:blog:toc">

<Title:>
  Tutorials - Meteor Blog

<index:>
  <section class="container">
    <div class="layout horizontal">
      <aside class="SideNav flex one">
        <view name="meteor:blog:toc"/>
      </aside>

      <div class="PageContent flex three">
        <d-paper-button class="suggest-edit-button" icon="translate" label="Suggest Edit" fab on-click="externalUrl(_page.editUrl)"></d-paper-button>
        <view name="{{#root._page.viewName}}"/>
        <view name="t-disqus-comments" shortname="scotch"/>
      </div>
    </div>
  </section>
